//Compass imports
@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/ellipsis";

//Local imports
@import "vars";

//External imports
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@include sticky-footer(0px);
@include font-face("Open Sans", null);

body {
  @include background(linear-gradient(to bottom right, $bg-gradient-topleft, $bg-gradient-botright));
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

#bg {
  width: 100%;
  position: absolute;
  margin-left: 30%;
  bottom: -20%;
  opacity: 0.2;
}

#container {
  width: $list-width;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: $list-offset;
  background-color: $list-bgcolor;
  box-shadow: 0px 0px 20px black;
}

#header {
  padding: 10px;

  h1 {
    color: white;
    text-align: center;
    font-size: 36px;
  }
}

.create-new {
  button {
    @include background(linear-gradient(to bottom, $button-gradient-top, $button-gradient-bottom));
    color: $button-text-color;
    width: 100%;
    font-size: 24px;

    &:hover {
      @include background(linear-gradient(to bottom, $button-gradient-top, $button-gradient-bottom));
    }
  }
}

#journal-list {

}

.journal-list-item {
  @include clearfix();
  background-color: $list-item-bgcolor;
  height: 20px;
  padding: 10px;
  border-bottom: 1px solid $button-gradient-bottom;

  &:nth-child(2) {
    background-color: $list-item-bgcolor-alt;
  }

  .title {
    float: left;
  }

  .date {
    float: right;
  }
}