{% extends "base.jinja2" %}
{% block body %}
<form id="create-form" action="{{ request.route_url('add') }}" method="POST">
    <h2>Create Entry</h2>
    <input id="title" name="title" placeholder="Title of entry..." type="text">
    <textarea id="text" name="text" placeholder="Type your notes here..."></textarea>

    <div class="form-buttons">
        <a href="{{ request.route_url('home') }}">
            <button type="button" id="button-back">
                Cancel
            </button>
        </a>
        <button type="submit" id="button-forward">
            Share
        </button>
    </div>
</form>
{% endblock %}
