{% extends "base.jinja2" %}
{% block body %}
<article class="journal-entry">
    <h2 class="title">{{ entry.title }}</h2>
    <hr>
    <p>
        {{ entry.text | safe }}
    </p>
    <hr>
    <span class="date">{{ entry.created.strftime('%b. %d, %Y') }}</span>

    <div class="form-buttons">
        <a href="{{ request.route_url('home') }}">
            <button id="button-back">
                Back
            </button>
        </a>
        {% if request.authenticated_userid %}
        <a href="{{ request.route_url('edit', id=entry.id) }}">
            <button id="button-forward">
                Edit
            </button>
        </a>
        {% endif %}
    </div>
</article>
{% endblock %}
