{% extends "base.jinja2" %}
{% block body %}
<article class="journal-entry">
    <h2 class="title">{{ entry.title }}</h2>
    <hr>
    <p>
        {{ entry.text }}
    </p>
    <hr>
    <span class="date">{{ entry.created.strftime('%b. %d, %Y') }}</span>

    <div class="form-buttons">
        <button id="button-back" onclick="window.location={{ request.route_url('home') }}">
            Back
        </button>
        <button id="button-forward" onclick="window.location={{ request.route_url('edit', id=entry.id) }}">
            Edit
        </button>
    </div>
</article>
{% endblock %}