{% extends "base.jinja2" %}
{% block body %}
<form id="edit-form">
    <h2>Edit Entry</h2>
    <input id="title" placeholder="Title of entry..." type="text" value="{{ entry.title }}">
    <textarea id="text" placeholder="Type your notes here...">{{ entry.text }}</textarea>

    <div class="form-buttons">
        <button type="button" id="button-back" onclick="window.location='{{ request.route_url('detail', id=entry.id) }}'">
            Cancel
        </button>
        <button type="submit" id="button-forward">
            Save
        </button>
    </div>
</form>
{% endblock %}