{% extends "base.jinja2" %}
{% block body %}
{% if request.authenticated_userid %}
<div class="create-new">
    <a href="{{ request.route_url('add') }}">
        <button onclick="window.location=''">
            Create New
        </button>
    </a>
</div>
{% endif %}
<div id="journal-list">
    {% for entry in entries %}
    <div class="journal-list-item">
        <a href="{{ request.route_url('detail', id=entry.id) }}">
        <span class="title">{{ entry.title }}</span>
        <span class="date">{{ entry.created.strftime('%b. %d, %Y') }}</span>
        </a>
    </div>
    {% else %}
    <div class="journal-list-item">
        <p><em>No entries here so far</em></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
